.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  scroll-behavior: smooth;
}

.Photos-area {
  height: 90vh;
  background-color: lightskyblue;
  display: flex;
  flex-direction: row;
}

.Article {
  height: 100%;
  align-items: center;
  display: inline-block;
  padding: 10px;
}

.Image {
  background-repeat: no-repeat;
  background-position: center;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 15px 15px #777777;
  text-align: center;
  justify-content: center;
}

.Image-text {
  transform: rotate(-45deg);
  font-size: 24px;
  text-align: center;
}

.Button-area {
  height: 10vh;
  background-color: lightpink;
}
