.App {
  /* justify-content: center;
  align-items: center; */
  text-align: center;
}

.Photos-area {
  height: 90vh;
  width: 100%;
  background-color: lightskyblue;
  display: flex;
  /* scroll-behavior: smooth; */
}

.Article {
  height: 100%;
  width: 100%;
  display: inline-block;
  padding: 10px;
  position: relative;
}

.Image {
  height: auto;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 15px 15px #777777;
}

.Image-text {
  position: absolute;
  top: 40%;
  width: 100%;
  transform: rotate(-45deg);
  color: #CCCCCC;
  font-size: 24px;
}

.Button-area {
  height: 10vh;
  background-color: lightpink;
  align-items: center;
  justify-content: center;
}

.Button {
  position: sticky;
  background-color: blue;
  height: 45px;
  width: 75px;
}
