.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}

.Photos-area {
  height: 90vh;
  justify-content: center;
  align-items: center;
  background-color: blue;
}

.Image {
  background-image: url('https://via.placeholder.com/600/92c952');
  height: 600px;
  width: 600px;
  border-width: 3px;
  border-radius: 30px;
  box-shadow: 30px;

}

.Image-text {
  transform: rotate(-45deg);
}

.Button-area {
  height: 10vh;
  background-color: aqua;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
